.navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
}

.nav-link {
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 1rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ccc !important;
}

.nav-link.active {
    color: #fff !important;
    font-weight: 600;
}

.navbar-nav.ms-auto {
    margin-left: auto !important;
}

@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }
    
    .nav-link {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}

.form-control {
    border-radius: 20px 0 0 20px;
}

.btn-outline-light {
    border-radius: 0 20px 20px 0;
}