.pricing {
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 600;
    margin: 50px;
    text-align: center;
}

.division5 {
    position: relative;
    margin-top: 90px;
    height: 100px;
}




.horizontal-blocks {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    /* bottom: 1200px; */
    width: 100%;
}

.hb-1 {
    background-color: #0F392A;
    font-family: sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    height: 688px;
    border-radius: 30px;
    width: 300px;
    padding: 25px 30px;
    position: relative;
    top: 240px;
}

.hb-2 {
    background-color: #054830;
    font-family: sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    height: 990px;
    border-radius: 30px;
    width: 400px;
    padding: 35px 80px;
    justify-content: center;
    align-items: center;
}

.hb-header {
    position: relative;
    text-align: start;
    font-size: 22px;
    font-weight: 600;
    top: 0px;
    left: 8px;
    margin: 7px;
    padding: 0px;
    height: 0px;
}

.hb-header2 {
    position: relative;
    text-align: start;
    font-size: 22px;
    font-weight: 600;
    top: -10px;
    left: 0px;
    padding: 10px;
    height: 0px;
}

.hb-btn {
    background-color: #0F392A;
    color: #FFC400;
    border: 1px solid white;
    border-radius: 15px;
    height: 60px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -15px;
}







.hb-flex1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;

}

.hb-btn1 {
    background-color: #0F392A;
    color: #FFC400;
    border: 1px solid white;
    border-radius: 15px;
    height: 60px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 5px;
}


.hb-header {
    text-align: start;
}

.hb-header-center {
    position: relative;
    text-align: start;
    font-size: 35px;
    font-weight: 600;
    top: 0px;
    left: -48px;
    margin: 0px;
    padding: 0px;
}

.hb-flex2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 19px;
    flex-wrap: wrap;
}

.hb-btn-center {
    background-color: #054830;
    color: #FFC400;
    border: 1px solid white;
    border-radius: 15px;
    height: 60px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -70px;
}

.bestValue {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    top: 10px;
    left: -131px;
    font-size: 17px;
    font-weight: 700;
    width: 130px;
    height: 38px;
    border-radius: 15px;
    background: linear-gradient(#283DAA, #4385F7);
}